<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.solvd.essay.persistence.EmployeeEmployeeWorkAreasRepository">

    <sql id="employeeEmployeeWorkAreasSelect">
        SELECT employee_employee_work_areas.id as id,
        employee_work_area.id as ewa_id, area_name, area_code,
        employee.id as em_id, first_name, last_name, personal_id, birth_date, salary
        FROM employee_employee_work_areas inner join employee_work_area
        on employee_employee_work_areas.employee_work_area_id=employee_work_area.id
        inner join employee
        on employee_employee_work_areas.employee_id=employee.id;
    </sql>

    <insert id="create" keyColumn="id" keyProperty="id" useGeneratedKeys="true">
        insert into employee_employee_work_areas(employee_id, employee_work_area_id) value (#{employee.getId()},
        #{employeeWorkArea.getId()})
    </insert>

    <update id="updateById" keyColumn="id" useGeneratedKeys="true">
        update employee_employee_work_areas set employee_id=#{thingToUpdate.employee.getId()},
        employee_work_area_id=#{thingToUpdate.employeeWorkArea.getId()}
        where employee_employee_work_areas.id=#{id}
    </update>

    <select id="getAll" resultMap="findAllResult">
        <include refid="employeeEmployeeWorkAreasSelect"/>
    </select>

    <select id="findById" resultMap="employeeEmployeeWorkAreasResult" >
        <include refid="employeeEmployeeWorkAreasSelect"/>
        where employee_employee_work_areas.id=#{id}
    </select>
    
    <delete id="deleteById">
        delete from employee_employee_work_areas
        where employee_employee_work_areas.id=#{id}
    </delete>

    <resultMap id="employeeEmployeeWorkAreasResult" type="com.solvd.essay.domain.EmployeeEmployeeWorkAreas">
        <id property="id" column="id" />
        <association property="employee" resultMap="employeeResult"/>
        <association property="employeeWorkArea" resultMap="employeeWorkAreaResult"/>
    </resultMap>

    <resultMap id="findAllResult" type="com.solvd.essay.domain.EmployeeEmployeeWorkAreas">
        <id property="id" column="id" />
        <association property="employee" resultMap="employeeResult"/>
        <association property="employeeWorkArea" resultMap="employeeWorkAreaResult"/>
        <collection property="employeeEmployeeWorkAreasList" javaType="ArrayList" ofType="com.solvd.essay.domain.EmployeeEmployeeWorkAreas"/>
    </resultMap>

    <resultMap id="employeeWorkAreaResult" type="com.solvd.essay.domain.EmployeeWorkArea">
        <id property="id" column="ewa_id" />
        <result property="areaName" column="area_name"/>
        <result property="areaCode" column="area_code"/>
    </resultMap>

    <resultMap id="employeeResult" type="com.solvd.essay.domain.Employee" >
        <id property="id" column="em_id" />
        <result property="firstName" column="first_name"/>
        <result property="lastName" column="last_name"/>
        <result property="personalId" column="personal_id"/>
        <result property="birthDate" column="birth_date"/>
        <result property="salary" column="salary"/>
    </resultMap>
    
</mapper>