<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.solvd.essay.persistence.EquipmentForTestModelRepository">

    <sql id="equipmentForTestModelSelect">
        select id,model_name, model_description, release_date from equipment_for_test_model
    </sql>

    <insert id="create" keyColumn="id" keyProperty="id" useGeneratedKeys="true">
        insert into equipment_for_test_model(model_name, model_description, release_date)
        value (#{modelName},#{modelDescription},#{releaseDate})
    </insert>

    <update id="updateById" keyColumn="id" useGeneratedKeys="true">
        update equipment_for_test_model set model_name=#{thingToUpdate.modelName},model_description=#{thingToUpdate.modelDescription},
        release_date=#{thingToUpdate.releaseDate}
        where id=#{id}
    </update>

    <select id="getAll" resultMap="findAllResult">
        select * from equipment_for_test_model
    </select>

    <select id="findById" resultMap="equipmentForTestModelResult" >
        <include refid="equipmentForTestModelSelect"/>
        where id=#{id}
    </select>
    
    <delete id="deleteById">
        delete from equipment_for_test_model where id=#{id}
    </delete>

    <resultMap id="equipmentForTestModelResult" type="com.solvd.essay.domain.EquipmentForTestModel">
        <id property="id" column="id" />
        <result property="modelName" column="model_name"/>
        <result property="modelDescription" column="model_description"/>
        <result property="releaseDate" column="release_date"/>
    </resultMap>

    <resultMap id="findAllResult" type="com.solvd.essay.domain.EquipmentForTestModel">
        <id property="id" column="id" />
        <result property="modelName" column="model_name"/>
        <result property="modelDescription" column="model_description"/>
        <result property="releaseDate" column="release_date"/>
        <collection property="equipmentForTestModelList" javaType="ArrayList" ofType="com.solvd.essay.domain.EquipmentForTestModel"/>
    </resultMap>

    
</mapper>